<section class="main-content">
  <section class="how_it_works content_section" id="how_it_works">
    <header class="section_header">
      <h2>How it Works</h2>
      <hr />
      <h3>Curating your wedding photos has never been easier</h3>
    </header> <!-- /section_header -->
    <span class="arrow"></span>
    <ol class="how_it_works_experience">
      <li class="take_pictures">
        <header class="experience_header">
          <div class="number">
          <span>1</span>
          </div>
          <div class="text">
            <h4>Take Some Pictures</h4>
            <h5>Images are captured throughout all your wedding events by friends and family, Capstory makes them easy to access and cherish forever.</h5>
          </div>
        </header> <!-- /experience_header -->
        <%= image_tag "img-take-pictures.png" %>
      </li> <!-- /take_pictures -->
      <li class="text_capstory">
        <%= image_tag "img-text-capstory.png" %>
        <header class="experience_header">
          <div class="number">
            <span>2</span>
          </div>
          <div class="text">
            <h4>Text Them To Capstory</h4>
            <h5>Guests text images to your custom capsule,and you’ll enjoy every guests’ perspective. No downloading anything, it’s simple!</h5>
          </div>
        </header> <!-- /experience_header -->
      </li> <!-- /text_capstory -->
      <li class="make_capsule">
        <header class="experience_header">
          <div class="number">
          <span>3</span>
          </div>
          <div class="text">
            <h4>We Make The Capsule</h4>
            <h5>Like magic! All your guest generated images are in your Capstory capsule instantaneously!</h5>
          </div>
        </header> <!-- /experience_header -->
        <%= image_tag "img-make-capsule.png" %>
      </li> <!-- /make_capsule -->
    </ol> <!-- /how-it-works-experience -->
    <span class="arrow_alt"></span>
    <footer class="section_footer">
      <%= partial "partials/promo-group" %>
    </footer>
  </section> <!-- /how_it_works -->
</section><!-- /main-content -->

<section class="photobreak" id="second_photobreak" data-stellar-background-ratio=".5"></section>
