<div id="opt_in_modal" class="reveal-modal xlarge" data-reveal>

  <header class="section_header">
    <h2>Get Capstory</h2>
    <hr>
    <h3>Reserve your event date</h3>
  </header>
    
    <div class="opt_in_form">
      <form>
        <div class="opt_in_left">
            <label for="contact_name">Name</label>
            <input type="text" id="contact_name" />
            <label for="contact_email">Email</label>
            <input type="email" id="contact_email" />
            <label for="wedding_date">Event Date</label>
            <input type="date" id="wedding_date" />
            <div class="tell_us_more">
                <label class="top_label">Tell us about yourself</label>
                <input class="non_industry" id="access_request_source_bride" name="access_request[source]" type="radio" value="bride">
                <label for="access_request_source">Bride/Groom</label>
                <input id="industry_professional" name="access_request[source]" type="radio" value="vendor">
                <label for="access_request_source">Industry Professional</label>                
                <input class="non_industry" id="access_request_source_other" name="access_request[source]" type="radio" value="other">
                <label for="access_request_source" class="other_label">Other</label>
                <div style="display:none;" class="industry_explanation">
                    <label for="access_request_industry_role">What is your role in the industry?</label>
                    <input id="access_request_industry_role" name="access_request[industry_role]" size="30" type="text">
                </div>
            </div>
        </div>
        <div class="opt_in_right">

            <label for="contact_message">Questions/Comments</label>
            <textarea id="contact_message"></textarea>
            <div id="show_partner_code">
                <p class="partner_code">Click if you have a partner code</p>
            </div>
            <div id="partner_code" style="display: none;">
                <label for="access_request_partner_code">Partner Code</label>
                <input id="access_request_partner_code" name="access_request[partner_code]" size="30" type="text">
                <small>If you received a code from a Capstory partner/vendor, enter it here</small>
            </div>            
            <button class="btn btn_secondary btn_submit" action="submit">Send</button>
        </div>
      </form>
    </div> <!-- /opt-in-form -->


  <a class="close-reveal-modal">&#215;</a>
</div>