<section class="pricing">
  <div class="price">

  </div> <!-- /price -->
  <div class="pricing_features">
    <ul class="pricing_features_list">
      <%
        features = ["Lorem", "Ispum", "Dolar"]
      %>
      <% features.each do |feature| %>
        <%= content_tag :li, feature %>
      <% end %>
    </ul> <!-- /pricing_featuers_list -->
  </div> <!-- /pricing_features -->
</section> <!-- /pricing -->
