  <div class="promo_group">
    <button class="btn btn_primary promo_group_btn">Get Capstory</button>
    <%= link_to "Tell your engaged friend about Capstory", "#", class: "tell_friend promo_group_link" %>
  </div> <!-- /promo_group -->

