<section id="reminder">
    <section class="main-content">
      <section class="content_section">
        <header class="section_header">
          <h2>Remind Me Later</h2>
          <hr />
          <h3>Tell us when you want us to send you a reminder email</h3>
        </header>

          <form id="reminder_form">
            <ul>
                <li class="reminder_email_group">
                <label for="reminder_name">Email</label>
                <input type="email" id="reminder_email" placeholder="you@domain.com" />
                </li>
                <li class="reminder_date_group">
                <label for="reminder_date">When should we email you?</label>
                <input type="date" id="reminder_date" />
                </li>
                <li class="reminder_submit_group">
                <label>&nbsp;</label>
                <button class="btn btn_secondary" action="submit">Submit</button>
                </li>
            </ul>
          </form>        

      </section>
    </section>
</section>