<footer class="site_footer">
  <section class="footer_content">
    <div class="contact_info">

    </div> <!-- /contact_info -->
    <div class="footer_contact_form">

    </div> <!-- /footer-contact-form -->
  </section> <!-- /footer-content -->
</footer> <!-- /site-footer -->
