<section class="main-content" id="testimonials">
  <section class="content_section">
    <header class="section_header">
      <h2>Testimonials</h2>
      <hr />
      <h3>What people are saying about Capstory</h3>
    </header>
    <section class="single_testimonial first">
        <div class="testimonial_copy">
            <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras egestas consequat placerat. Sed in metus felis. 
            </q>
            <small class="author">– Lorem Ipsum<small>            
        </div>
    </section>
    <section class="single_testimonial second">
        <h3>Lorem</h3>
    </section>
    <section class="single_testimonial third">
        <h3>Lorem</h3>
    </section>        
  </section>
</section>

<footer class="section_footer">
  <%= partial "partials/promo-group" %>
</footer>

<section class="photobreak" id="third_photobreak"></section>
