<section id="what_you_get" class="what_you_get content_section">
  <header class="section_header">
    <h2>What You Get</h2>
    <hr>
    <h3>Your Capstory package is all-inclusive</h3>
  </header>    
  <section class="package_item">
    <a href="#" data-reveal-id="welcome_kit_modal">
    <i class="icon_welcome_kit package_icon"></i>
    Welcome Kit
    </a>
  </section><!--/package_item-->
  <section class="package_item">
    <a href="#" data-reveal-id="capsule_modal">
    <i class="icon_capsule package_icon"></i>    
    Custom Capsule
    </a>
  </section><!--/package_item-->  
  <section class="package_item">
    <a href="#" data-reveal-id="live_slideshow_modal">
    <i class="icon_live_slideshow package_icon"></i>
    Live Slideshow
    </a>
  </section><!--/package_item-->
  <section class="package_item">
    <a href="#" data-reveal-id="photo_book_modal">
    <i class="icon_book package_icon"></i>        
    Photo Books
    </a>
  </section><!--/package_item-->  
  <section class="package_item">
    <a href="#" data-reveal-id="live_video_modal">
    <i class="icon_video package_icon"></i>       
    Pro Video<br />Slideshow
    </a>
  </section><!--/package_item-->
</section>

<!--/Modals-->
<div id="welcome_kit_modal" class="reveal-modal" data-reveal>
  <header class="section_header">
    <h2>Welcome Kit</h2>
    <hr>
    <h3>Your Capstory package is all-inclusive</h3>
  </header>  
  <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="capsule_modal" class="reveal-modal" data-reveal>
  <header class="section_header">
    <h2>Custom Capsule</h2>
    <hr>
    <h3>Your Capstory package is all-inclusive</h3>
  </header>  
  <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="live_slideshow_modal" class="reveal-modal" data-reveal>
  <header class="section_header">
    <h2>Live Slideshow</h2>
    <hr>
    <h3>Your Capstory package is all-inclusive</h3>
  </header>    
  <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="photo_book_modal" class="reveal-modal" data-reveal>
  <header class="section_header">
    <h2>Photo Books</h2>
    <hr>
    <h3>Your Capstory package is all-inclusive</h3>
  </header>  
  <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="live_video_modal" class="reveal-modal" data-reveal>
  <header class="section_header">
    <h2>Pro Video Slideshow</h2>
    <hr>
    <h3>Your Capstory package is all-inclusive</h3>
  </header>  
  <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
  <a class="close-reveal-modal">&#215;</a>
</div>