<section id="what_you_get" class="what_you_get content_section">
  <header class="section_header">
    <h2>What You Get</h2>
    <hr>
    <h3>Your Capstory package is all-inclusive</h3>
  </header>    
  <section class="package_item">
    Lorem
  </section><!--/package_item-->
  <section class="package_item">
    Lorem
  </section><!--/package_item-->  
  <section class="package_item">
    Lorem
  </section><!--/package_item-->
  <section class="package_item">
    Lorem
  </section><!--/package_item-->  
  <section class="package_item">
    Lorem
  </section><!--/package_item-->
</section>