// *************************************
//
//   Buttons
//   -> Modifying Zurb's buttons 
//
// *************************************


.btn {
  background: none;
  color: $primary-color;
  text-transform: uppercase;
  font-weight: 300;
  @include box-shadow(none);

  &:hover {
    background: $primary-color;
    color: #FFF;
    @include box-shadow(none);
  }
}

// -------------------------------------
//   Modifiers
// -------------------------------------

.btn_primary {

}

.btn_secondary {

}



// -------------------------------------
//   Context
// -------------------------------------

// .has-module

// -------------------------------------
//   Submodules
// -------------------------------------





