// *************************************
//
//   Promo Group 
//   -> Button and link to tell friend 
//
// *************************************


.promo_group {
  margin: 0 auto;
  text-align: center;
  @include respond-to(27.5em) {
    width: 80%;
  }
  @include respond-to(47.5em) {
    width: 40%;
  }
}

// -------------------------------------
//   Elements
// -------------------------------------

.promo_group_btn {
  width: 100%;
  margin: 0 auto calc-em(8px);

}

a.promo_group_link {
  color: #000;

}
