// ----------------------------------------------------------
// pushy overwrites
// ----------------------------------------------------------

#container {
  -webkit-perspective: 0;
  width: 100%;
  left: 0;
  position: relative;
  @include transform(none);
}

.container-push {
  @include transform(none);
  left: 200px!important;
  position: absolute;
  .top-bar-fixed-top,
  .top-bar-fixed-bottom {
    margin-left: 200px;
  }
  @include respond-to(960px){
    left: 0!important;
    .top-bar-fixed-top,
    .top-bar-fixed-bottom {
      margin-left: 0px;
    }
  }
}

.menu-btn {
  background: $primary-color;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 55px;
  padding: 15px 16px 0;
  z-index: 99;
  span {
    background: #fff;
    display: block;
    height: 3px;
    margin-top: 4px;
  }
  @include respond-to(960px) {
    display: none;
  }
}

.pushy {
  left: -200px;
  position: fixed;
  background: #f1f1f1;
  border-right: 1px solid $border;
  @include transition(none);
  @include box-shadow(none);

  a {
    background: $light-grey;
    color: black;
    text-transform: uppercase;
    font-size: calc-em(16px);
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
    border: none;
    border-bottom: 1px solid $border;

    &:hover {
      color: #fff;
      background: $primary-color;
    }

  }

  @include respond-to(960px){
    display: none;
  }
}

.push-left {
  @include transform(none);
  @include box-shadow(none);
}

.pushy-open {
  left: 0;
  @include transform(none);
}





